@import "../../styles/index.scss";

.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
  @media (min-width: 1024px) {
    justify-content: unset;
    margin-bottom: 0;
    margin-top: 0.3rem;
    height: 9vh;
  }
}
