@import "../../styles/index.scss";

.CardRight {
  background-color: $secondary-background;
  padding: 2rem;
  .mainTitleWrapper {
    h1,
    p {
      margin: 0;
    }
    p {
      color: $primary-color;
    }
  }
}
