@import "../../styles/index.scss";

.CardLeft {
  background-color: $primary-background;
  flex: 2;
  .imgWrapper {
    height: 50%;
  }
  .GlobalInfo {
    flex: 3;
  }
  .imgSelfie {
    width: 100%;
  }
  .socialMediaLinksWrapper {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
  .imgSocialMedias {
    width: 24px;
    height: 24px;
    margin: 0 1rem;
  }
  @media (min-width: 1024px) {
    .imgSelfie {
      height: 100%;
    }
  }
}
